**/.DS_Store
**/__pycache__

.idea
.python-version
.venv
.vscode
TODO.txt
tmp

*.mov
*.pt
*.mp4
*.jpg
*.png
*.gif
*.webp
*.heic
*.heif
*.safetensors
*.ckpt
*.safetensors
*.safetensors.index.json
*.safetensors.index.json.lock
*.json

workspace/configs/
workspace/datasets/
workspace/thumbnails/
flet_app/ui/utils/recent_files.txt

scripts_fp8/*
src/ltxv_trainer_fp8/*
models/*

# Except for 
!models/.gitkeep 
!flet_app/assets/git_images/


