**/.DS_Store
**/__pycache__

.idea
.python-version
.venv
.vscode
.cursor
TODO.txt
tmp

*.mov
*.pt
*.mp4
*.jpg
*.png
*.gif
*.webp
*.heic
*.heif
*.safetensors
*.ckpt
*.safetensors
*.safetensors.index.json
*.safetensors.index.json.lock
#*.json
*.yaml

_misc/
workspace/configs/
workspace/datasets/
workspace/datasets_img/
workspace/thumbnails/
flet_app/ui/utils/recent_files.txt
flet_app/assets/config_to_train.yaml
flet_app/ffmpeg/

scripts_fp8/*
src/ltxv_trainer_fp8/*
models/*

# Except for 
!models/.gitkeep 
!flet_app/assets/git_images/


flet_app/assets/config_to_train.yaml
